.staheader {

}
.stabody {
    height: 85%;
    background-color: white;
    margin-top: 5%
}

.selectData {
    margin-left: 2%;
    margin-right: 2%;
}

.selectGraph {
    margin-left: 2%;
    margin-right: 2%;
}
